{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "globals": {
    "localStorage": true,
    "fetch": true,
    "console": true,
  },

  "parser": "babel-eslint",

  // "plugins": ["prettier"],

  "rules": {
    //    "prettier/prettier": "error"
  }
}