{
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/react",
    "plugin:react/recommended"
  ],
  "plugins": ["prettier", "redux-saga", "react", "react-hooks", "jsx-a11y"],
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "localStorage": true,
    "fetch": true,
    "console": true
  },

  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
